<section id="grid" class="home-grid">
  {% for rollName in photos.rollsList %}
    {% set roll = photos.rolls[rollName] %}

    {% for img in roll.grid %}
      <img src="{{ '/' | url }}{{ img }}" loading="lazy">
    {% endfor %}
  {% endfor %}
</section>