---
layout: layouts/base.njk
title: ROLLS
---

{% for rollName in photos.rollsList %}
  {% set roll = photos.rolls[rollName] %}

  <section class="roll">
    <h2 class="roll-title">{{ rollName }}</h2>

    <div class="grid">
      {% for img in roll.grid %}
        {% set full = roll.full[loop.index0] or img %}
        <a href="{{ full | url }}">
          <img src="{{ img | url }}" loading="lazy">
        </a>
      {% endfor %}
    </div>
  </section>
{% endfor %}