---
layout: layouts/base.njk
pagination:
  data: photos.rollsList
  size: 1
  alias: rollName
permalink: "rolls/{{ rollName }}/"
---

<h1 class="roll-title">{{ rollName }}</h1>

<div class="roll-photos">
  {% for img in photos.rolls[rollName].full %}
    <div class="photo-wrapper">
      <img src="{{ img }}" alt="{{ rollName }} photo" loading="lazy" />
    </div>
  {% endfor %}
</div>

<style>
  .roll-title {
    font-size: 1.6rem;
    text-align: center;
    margin: 40px 0;
    letter-spacing: 2px;
  }

  .roll-photos {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .roll-photos img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
  }

  @media (max-width: 768px) {
    .roll-photos {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
</style>
