/* ========================= */
/*       HOMEPAGE GRID       */
/* ========================= */

.home-grid {
  column-count: 3;
  column-gap: 0;
  width: 100%;
}

.home-grid img {
  width: 100%;
  display: block;
  margin: 0 0 0;
  break-inside: avoid;
}

/* ========================= */
/*         ROLL GRID         */
/* ========================= */

.grid {
  column-count: 3;
  column-gap: 0;
  width: 100%;
}

.grid img {
  width: 100%;
  display: block;
  break-inside: avoid;
  margin: 0;
}

/* Mobiel ook 3 kolommen */
@media (max-width: 640px) {
  .home-grid,
  .grid {
    column-count: 3;
  }
}